body {
  font-family: 'Lato', sans-serif;
  background-color: #fbf9f0;
}

.container {
  width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border: 1px solid #e5e5e5;
  background-color: white;
}